In [2]:
#Literals== Actual Values
myname="dhiyotek"
year=2024
time=1.00
#In the above dhiyotek, 2024, 1.00 are Literals of different datatypes
print(myname,year,time)

dhiyotek 2024 1.0

In [3]:
#Types of Literals
#1.Numeric : Divided in to 1.integers 2.floatings 3. complex
print(1,2,3,66,-764) #Intergers
print(1.23, 5.654, -3.533)#Floating Literals
print(1+2j,3-5j)#Complex Literals

1 2 3 66 -764
1.23 5.654 -3.533
(1+2j) (3-5j)

In [ ]:
#2.Strings: Divided into 1.Single Line string Literals 2.Multiline string Literals
single_line ="i am dhiyotek"
single_line2='i am dhiyotek'
multi_line="""i am dhiyotek
a startup from benguluru
in raja rajeshwari nagar
this is multiline sring"""
multi_line2='''i am dhiyotek
a startup from benguluru
in raja rajeshwari nagar
this is multiline sring by single quotas'''