In [ ]:
#tuple [linear:: immutable :: ordered:: indexed :: allow duplicates]
#creating tuples
t=()#empty tuple
print(t)

In [ ]:
l=[1,2,3,4,45,6,7,8]
t=tuple(l) # creating from list
print(t)

In [ ]:
#tuple to list
#if we want to update a tuple it should be converted to list else we couldn't modify it
ll=list(t)
print(ll)

In [3]:
#Accessing a tuple Accessing is almost same as lists
t=tuple([1,2,3,4,5,6,7,8,9,0])
print(t[0])
print(t[2])
print(t[2:5])
print(t[:5])
print(t[2:])
print(t[2:5:2])
print(t[8:3:-1])
print(t[::-1])

1
3
(3, 4, 5)
(1, 2, 3, 4, 5)
(3, 4, 5, 6, 7, 8, 9, 0)
(3, 5)
(9, 8, 7, 6, 5)
(0, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [5]:
#tuple modifications==>we can add but we can't modify the tuples
t=(1,2,3,4,5,6,7,8,9,0)
t1=(10,)#
t+=t1
print(t)
try:
    t[1]=34
    print(t)
except:
    print("Tuples can't be updated")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10)
Tuples can't be updated

In [3]:
t=(1,2,3,4,5,6,7,8,9,0)
del t #deleting a tuple
try:
    print(t)
except:
    print("The tuple is deleted")

The tuple is deleted

In [13]:

#Unpacking Tuples
t=(1,2,3,4,5,6,7,8,9,0)
(a,*b,c)=t#astrik will manage elements it will will take remaining elements after assing the values to the other varibles
print(a,b,c)
(a,b,*c)=t
print(a,b,c)
(*a,b,c)=t
print(a,b,c)

1 [2, 3, 4, 5, 6, 7, 8, 9] 0
1 2 [3, 4, 5, 6, 7, 8, 9, 0]
[1, 2, 3, 4, 5, 6, 7, 8] 9 0

In [14]:
#joining the tuples
t1=(1,2,3,1,4,5,6,7,8,9,0)
t2=(11,12,13,14)
print(t1)
print(t2)
t2+=t1
print(t2)

(1, 2, 3, 1, 4, 5, 6, 7, 8, 9, 0)
(11, 12, 13, 14)
(11, 12, 13, 14, 1, 2, 3, 1, 4, 5, 6, 7, 8, 9, 0)

In [16]:
#tuple methods
print(t2.count(1))
print(t2.index(3))

2
6

In [17]:
#multiplying tuples
print(t2*2)

(11, 12, 13, 14, 1, 2, 3, 1, 4, 5, 6, 7, 8, 9, 0, 11, 12, 13, 14, 1, 2, 3, 1, 4, 5, 6, 7, 8, 9, 0)